:root {
    /* --background: #eaeaea;
    --accent: #BD2D3A;
    --background2: #fafafa;
    --header: #232323;
    --text: #525252; */

    --background: #111111;
    --accent: #BD2D3A;
    --background2: #1f1f1f;
    --header: #e5e5e5;
    --text: #a9a9a9;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Chivo', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Chivo';
    src: url(Chivo/Chivo-VariableFont_wght.ttf);
}


body {
    background-color: var(--background);
    font-size: 1.1rem;
    color: var(--text)
}

input {
    font-size: 1.1rem;
    color: var(--background)
}

h1,
h2 {
    color: var(--header)
}

hr {
    margin: .5rem 0rem .5rem 0rem;
    border-color: var(--background);
    border-width: .25rem;
    border-style: solid;
    border-radius: .5rem;
}

ul {
    padding-left: 1.5rem;
}

li {
    padding-top: 1rem;
}

#main {
    width: 100%;
    height: fit-content;
    padding: 1rem;

    scrollbar-gutter: stable;
}

#navbar {
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
}

#navbar.navbar-fixed {
    background-color: rgba(255, 255, 255, 1);
}

.section {
    border-radius: .75rem;
    padding: 1rem;
    min-height: 90vh;
    width: 100%;
}

#section-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Assets/weights.jpg');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    #section-1-logo {
        width: 60%;
    }
}

#section-2 {
    margin-top: 1rem;
    background-color: var(--background2);
    height: 90vh;

    display: flex;

    .section-left {
        float: left;
        width: 50%;
        overflow: hidden;
        border-radius: .5rem;

        #section-2-img {
            width: 100%;
        }
    }

    .section-right {
        float: left;
        height: 100%;
        width: 50%;
        margin-left: 1rem;
    }

}

#section-3 {
    margin-top: 1rem;
    background-color: var(--background);
    padding: 0rem;
    min-height: 90vh;
    height: fit-content;
    width: 100%;

    h1 {
        margin-bottom: 1rem;
    }

    #pricing-info {
        width: 100%;
        text-align: center;
    }

    #packages {
        justify-items: center;
        width: 100%;
        height: fit-content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 1rem;
    }

    .package {
        width: 100%;
        min-width: 100px;
        height: fit-content;
        padding: 1rem;
        background-color: var(--background2);
        border-radius: .75rem;

        h2,
        .package-type-tag {
            text-align: center;
        }

        .package-type-tag {
            font-size: 1rem;
        }

        .package-price-wrapper {
            padding-top: 1rem;
        }

        .package-price {
            color: var(--accent);
            font-size: 2.2rem;
            font-weight: 800;
        }

        .package-price-time {
            font-size: .75rem;
        }
    }

    .last {
        margin-right: 0px;
    }
}

#section-4 {
    padding-top: 1rem;
    text-align: center;

    #signup-cta {
        width: 10rem;
    }
}


.cta {
    background-color: var(--accent);
    border-radius: .5rem;
    border-style: none;
    font-size: 1.;
    padding: .5rem;

    transition: filter 0.10s ease;
}

.cta:hover {
    filter: brightness(70%);
}

@media (max-width: 768px) {
    .section {
        min-height: 480px;
    }

    #section-2 {
        flex-direction: column;

        /* Stack the boxes vertically */
        .section-left {
            width: 100%;
        }

        .section-right {
            width: 100%;
            margin-left: 0rem;
            margin-top: 1rem;
        }
    }

    .package {
        width: 100%;
    }
}
