:root {
    /* --background: #eaeaea;
    --accent: #BD2D3A;
    --background2: #fafafa;
    --header: #232323;
    --text: #525252; */

    --background: #111111;
    --accent: #BD2D3A;
    --background2: #1f1f1f;
    --header: #e5e5e5;
    --text: #a9a9a9;
    --input-focus: #818181;
}

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Chivo', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Chivo';
    src: url(Chivo/Chivo-VariableFont_wght.ttf);
}


body {
    background-color: var(--background);
    font-size: 1rem;
    color: var(--text)
}

input {
    font-size: 1rem;
    color: var(--background);
    background-color: var(--text);
    border-radius: .5rem;
    border-style: none;
    outline: none;

}
input[type="text"],input[type="email"] {
    padding: .5rem;
}
a {
    color: var(--accent);
}

h1,
h2 {
    color: var(--header)
}

h3 {
    color: var(--accent)
}

hr {
    margin: .5rem 0rem .5rem 0rem;
    border-color: var(--background);
    border-width: .25rem;
    border-style: solid;
    border-radius: .5rem;
}

ul {
    padding-left: 1.5rem;
}

li {
    padding-top: 1rem;
}

#main {
    width: 100%;
    padding: 1rem;

    scrollbar-gutter: stable;
}

#navbar {
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0);
}

#navbar.navbar-fixed {
    background-color: rgba(255, 255, 255, 1);
}

.section {
    border-radius: .75rem;
    margin-top: 5rem;
    padding: 1rem;
    width: 100%;
}

#section-1 {
    margin-top: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./Assets/weights1.jpg');
    background-size: cover;

    height: 90vh;
    /* height: 90lvh; */

    display: flex;
    justify-content: center;
    align-items: center;

    #section-1-logo {
        width: 60%;
    }
}


#section-2 {
    background-color: var(--background2);
    display: flex;
    height: fit-content;
    min-height: 90lvh;

    .section-left {
        float: left;
        width: 50%;
        overflow: hidden;
        
        #section-2-img {
            object-fit: cover;
            width: 100%;
            max-height: calc(90lvh - 2rem);
            border-radius: .5rem;
        }
    }

    .section-right {
        float: left;
        height: 100%;
        width: 50%;
        margin-left: 1rem;
    }

}

#section-3 {
    background-color: var(--background);
    padding: 0rem;
    height: fit-content;
    width: 100%;

    min-height: 90lvh;

    h1 {
        margin-bottom: 1rem;
    }

    #pricing-info {
        width: 100%;
        text-align: center;
    }

    #packages {
        justify-items: center;
        width: 100%;
        height: fit-content;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 1rem;
    }

    .package {
        width: 100%;
        min-width: 100px;
        height: fit-content;
        padding: 1rem;
        background-color: var(--background2);
        border-radius: .75rem;

        h2,
        .package-type-tag {
            text-align: center;
        }

        .package-type-tag {
            font-size: 1rem;
        }

        .package-price-wrapper {
            padding-top: 1rem;
        }

        .package-price {
            color: var(--accent);
            font-size: 2.2rem;
            font-weight: 800;
        }

        .package-price-time {
            font-size: .75rem;
        }
    }

    .last {
        margin-right: 0px;
    }
}

#section-4 {
    padding-top: 1rem;
    text-align: center;

    #signup-cta {
        width: 10rem;
    }
}

#section-5 {
    height: fit-content;

    #section-5-wrapper {
        display: flex;
        width: 100%;
        height:100%;
        
        .section-left {
            float: left;
            width: 50%;
            height: 100%;
            border-radius: 1rem;
            background-color: var(--background2);
            padding: 1rem;

            input,#message {
                width: 100%;
                margin-top: .5rem;
                margin-bottom: 1rem;
            }
            input:focus,#message:focus{
                background-color: var(--input-focus);
            }

            #message {
                height: 10rem;
                padding: 1rem;
                background-color: var(--text);
                color: var(--background);
                border-radius: .5rem;
                outline: none;
            }
        }

        .section-right {
            float: left;
            height: 100%;
            width: 50%;
            margin-left: 1rem;
            padding-top: 1rem;
        }
    }
}

#footer {
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;

    img {
        float: left;
        width: 5rem;
        height: 100%;
        align-self: center;
    }
    #copyright {
        float: left;
        font-size: .75rem;
        align-self: center;
        margin-left: 1rem;
    }
}

.cta {
    background-color: var(--accent);
    border-radius: .5rem;
    border-style: none;
    font-size: 1.;
    padding: .5rem;

    transition: filter 0.10s ease;
}

.cta:hover {
    filter: brightness(70%);
}

.social {
    margin-top: 1rem;
    img {
        height: 1rem;
        vertical-align: middle;
        margin-right: .5rem;
    }
}

@media (max-width: 768px) {
    .section {
        /* min-height: 480px; */
    }

    #section-2,#section-5 #section-5-wrapper {
        flex-direction: column;
        /* Stack the boxes vertically */
        .section-left {
            width: 100%;
        }

        .section-right {
            width: 100%;
            margin-left: 0rem;
            margin-top: 1rem;
        }
    }
    #section-5 {
        padding: 0px;
    }

    .package {
        width: 100%;
    }

}

