:root {
    /* Use for testing */
    --background-cool: hsl(260, 12%, 4%);
    --background-warm: hsl(0, 3%, 6%);

    --background: var(--background-cool);

    --surface: hsl(231, 12%, 8%);
    --surface-border: 2px solid hsl(225, 19%, 16%);
    --surface-transparent: hsla(260, 33%, 4%, 0.85);

    --input-background: hsl(231, 15%, 18%);

    --text-important: hsl(0, 0%, 85%);
    --text-default: hsl(0, 0%, 60%);
    --text-transparent: hsla(0, 0%, 100%, 0.147);

    --accent-primary: hsl(0, 61%, 44%);
    --accent-secondary: hsl(208, 48%, 46%);
    --altitude-primary: ;

    font-weight: 300;

    --selection: hsla(0, 67%, 35%, 0.801);

    --nav-height: 4rem;
    --useable-height: calc(100vh - var(--nav-height));
    --default-section-height: calc(var(--useable-height) - 4rem)
}

@font-face {
    font-family: "Chivo";
    src: url("assets/fonts/Chivo/Chivo-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Crimson Pro";
    src: url(assets/fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Bodoni Moda";
    src: url(assets/fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--selection);
}

body {
    width: 100%;
    background-color: var(--background-dark);
    background-image: url('assets/art/weights_darker.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Chivo";
    font-size: 1.2rem;
    font-weight: var(--font-weight);

    color: var(--text-default)
}

b {
    font-weight: 600;
}

button {
    font-family: "Chivo";
    font-size: 1.2rem;
}

main {
    padding-bottom: 2rem;

}

section {
    width: 100%;
    height: fit-content;

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2rem;
    scroll-margin-top: var(--nav-height);
}

h1 {
    color: var(--text-important);
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    color: var(--text-important);
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    color: var(--accent-primary);
    font-size: 1.8rem;
    font-weight: bold;
}

.stress {
    /* more bold than <b> */
    color: var(--text-important);
    font-weight: 600;
}

a {
    color: var(--accent-primary);
}

a::after {
    color: var(--accent-primary);
}

input,
textarea {
    font-size: 1rem;
    font-family: "Chivo";
    padding: .6rem;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--accent-primary);
    color: var(--text-important);
    background-color: var(--input-background);
}

/* honeypot protects against spam */
.notahoneypot {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

input:focus,
textarea:focus {
    outline: none;
}

nav {
    height: var(--nav-height);
    width: 100%;
    background-color: var(--surface-transparent);
    top: 0px;
    position: sticky;

    backdrop-filter: blur(2px);
    z-index: 5;
}

#nav-links-container {
    height: 100%;
    display: grid;
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: repeat(6, max-content);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

#mobile-nav-container {
    display: none;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100%;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    font-weight: bold;
}

#nav-hamburger {
    height: var(--nav-height);
    width: var(--nav-height);
    background-color: transparent;
    border: none;
    outline: none;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url(assets/ui/logo_stripes_white_no_background.png)
}

.nav-link {
    color: var(--text-default);
    transition: color .2s linear;
    display: block;
    cursor: pointer;
}

.nav-link:hover {
    color: var(--accent-primary)
}

footer {
    width: 100%;
    background-color: var(--surface);
    padding: 2rem;

    span {
        display: block;
    }
}

@media (max-width: 1000px) {
    :root {
        --nav-height: 3rem;
    }

    section {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

    nav {
        font-size: .8rem;
        gap: 1rem;
    }

    #nav-links-container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 500px) {
    section {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }

    #nav-links-container {
        display: none;
        grid-auto-flow: row;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 1fr);
        gap: 1rem;
        background-color: var(--surface-transparent);
        height: fit-content;
        backdrop-filter: blur(2px);
    }

    #mobile-nav-container {
        display: grid;
    }

    #nav-hamburger {}

}