:root {
    /* Use for testing */
    --background-cool: hsl(255, 30%, 4%);
    --background-warm: hsl(0, 3%, 6%);

    --background: var(--background-cool);

    --surface: hsl(231, 25%, 12%);
    --surface-border: 2px solid hsl(212, 28%, 13%);
    --surface-transparent: hsla(255, 100%, 2%, 0.85);

    --input-background: hsl(231, 25%, 20%);

    --text-important: hsl(0, 0%, 85%);
    --text-default: hsl(0, 0%, 60%);
    --text-transparent: hsla(0, 0%, 100%, 0.147);

    --accent-primary: hsl(0, 61%, 44%);
    --accent-secondary: hsl(208, 48%, 46%);
    --altitude-primary: ;

    font-weight: 300;

    --selection: hsla(0, 67%, 35%, 0.801);



    --nav-height: 4rem;
    --useable-height: calc(100vh - var(--nav-height));
    --default-section-height: calc(var(--useable-height) - 4rem)
}

@font-face {
    font-family: "Chivo";
    src: url("./assets/fonts/Chivo/Chivo-VariableFont_wght.ttf");
}

* {
    margin: 0px;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--selection);
}

body {
    width: 100%;
    background-color: var(--background-dark);
    background-image: url('./assets/art/weights_darker.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Chivo";
    font-size: 1.2rem;
    font-weight: var(--font-weight);

    color: var(--text-default)
}

b {
    font-weight: 600;
}

button {
    font-family: "Chivo";
    font-size: 1.2rem;
}

main {}

section {
    width: 100%;
    height: var(--default-section-height);

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2rem;
}

h1 {
    color: var(--text-important);
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    color: var(--text-important);
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    color: var(--accent-primary);
    font-size: 1.8rem;
    font-weight: bold;
}

.stress {
    /* more bold than <b> */
    color: var(--text-important);
    font-weight: 600;
}

a {
    color: var(--accent-primary);
}

a::after {
    color: var(--accent-primary);
}

input,
textarea {
    font-size: 1rem;
    font-family: "Chivo";
    padding: .6rem;
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid var(--accent-primary);
    color: var(--text-important);
    background-color: var(--input-background);
}

/* honeypot protects against spam */
.notahoneypot {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
}

input:focus,
textarea:focus {
    outline: none;
}

nav {
    height: var(--nav-height);
    background-color: var(--surface-transparent);
    top: 0px;
    position: sticky;

    backdrop-filter: blur(2px);
    z-index: 5;
}

footer {
    width: 100%;
    background-color: var(--surface);
    padding: 2rem;

    span {
        display: block;
    }
}

@media (max-width: 1000px) {
    section {
        width: 100%;
        height: var(--default-section-height);

        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

}

@media (max-width: 500px) {
    section {
        width: 100%;
        height: var(--default-section-height);

        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }

}