body {
    width: 100%;
    background-color: var(--background);
    background-image: none;
    font-family: "Chivo";
    font-size: 1.2rem;
    font-weight: var(--font-weight);

    color: var(--text-default)
}

main {
    width: 100%;
    min-height: var(--useable-height);
    background-image: url('https://616strength.com/2026_1.0/assets/art/grit_blue_transparent.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}

h3 {
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 2rem;
}

#about-container {
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;

}

#about-image,
#coaches-image {
    width: 30%;
}

#about-text {
    min-width: 60%;
    background-color: var(--surface);
    border-radius: 1rem;
    padding: 2rem;
}

#about-text {
    margin-left: -1rem;
}

#overview, #lisa-bio {
    margin-bottom: 2rem;
}

#outbound-lisa {
    padding: .5rem 2rem;
    border-radius: 3rem;
    border: 2px solid var(--accent-primary);
    font-size: 1.2rem;
    color: var(--surface);
    background-size: 300% 100%;
    background-image: linear-gradient(to right, var(--accent-primary), var(--accent-primary), #083d5c, #1d9e74);
    transition: all .3s ease-in-out;

}

#outbound-lisa:hover {
    cursor: pointer;
    transition: all .3s ease-in-out;
    background-position: 100% 0;
    border-color: var(--text-important);
    color: var(--text-important)
}



@media (max-width: 1000px) {
    section {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

    #about-container {
        flex-direction: column;
    }

    #about-image {
        height: 20lvh;
        width: 100%;
        object-fit: cover;
        object-position: 50% 70%;
    }

    #coaches-image {
        object-position: 50% 23%;

    }

    #about-text {
        margin: 0px;
        margin-top: -1rem;
    }
}